.site-header {
    background: url(/site/bg-header-1920x170.png) repeat-x top #1fdbfe;
}

.warning-header{
    text-align: right;
    font-size: 1rem;
    position: relative;
    top: -5.2em;
    height: 0;
}

.warning-header a {
    color: white;
}
.guided .main {
  margin-top: -122px;
}

.guided .group-nav {
  padding: 138px 0 0;

}
