<style>
  .inferno-header {
    display: none;
  }

  .main {
    padding: 10px;
    margin: 0 0 40px 0;
  }

  .card-body {

    font-size: 1.3rem;

  }

  .card-description {
    height: 150px;
  }

  p.headline {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .btn {
    margin: 0 10px;
    border-radius: 30px;
    padding: 10px 30px;
  }

  .btn .oi {
    margin-right: 5px;
  }

  .card-body h2 {

    text-transform: uppercase;
    margin-bottom: 1.2rem;

  }
</style>

<div class="banner" style="background-color:white">
  <div class="container">
    <div class="main" style="">
      <img src="/images/inferno_logo.png" alt="Inferno Logo" style="width:50%">
      <p class="headline">
        Inferno is a rich and rigorous testing suite for HL7<sup>&reg;</sup> Fast Health Interoperability Resources (FHIR) to help developers implement the FHIR standard consistently.
        We offer two modes for developers wanting to use Inferno – Inferno Program Edition and Inferno Community Edition.
        
        <!--
        validates the correct behavior of FHIR servers.
        It makes HTTP(S)
        requests to test your server's conformance to authentication, authorization, and FHIR content standards and
        reports the results back to you. -->
      </p>

    </div>
  </div>
</div>
<div class="container" style="padding:0;">
  <div class="card-deck">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h2 class="card-title">ONC Program Edition</h2>

        <div class="card-text">

          The Program edition is designed to verify that the developers’ FHIR server meet the standards requirements
          currently proposed in the Application Programming Interface (API) Conditions of Certification in the
          <a href="https://www.healthit.gov/sites/default/files/nprm/ONCCuresActNPRM.pdf">21<sup>st</sup>
          Century Cures Act: Interoperability, Information Blocking, and the ONC Health IT Certification Program Proposed Rule</a>
        </div>
        <div class = 'mt-auto' style="padding-top:20px;">
          <a class="btn btn-secondary btn-lg" role="button" href='/inferno' style="margin: 0 10px; border-radius: 30px; padding: 10px 30px;"><span
              class="oi oi-cloud"></span> Try It Here</a>

          <a class="btn btn-secondary btn-lg" role="button" href='https://github.com/siteadmin/inferno#installation-and-deployment' style="margin: 0 10px; border-radius: 30px; padding: 10px 30px;"><span
              class="oi oi-data-transfer-download"></span> Download</a>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h2 class="card-title">Community Edition</h2>
        <div class="card-text">
        The Community Edition contains a community curated set of tests for select
        FHIR Implementation Guides.  Develop tests to meet your own use cases and contribute them
        to the community.
        </div>

        <div class = 'mt-auto' style="padding-top:20px;">

          <a class="btn btn-secondary btn-lg mt-auto" role="button" href='/community' style="margin: 0 10px; border-radius: 30px; padding: 10px 30px;"><span
              class="oi oi-cloud"></span> Try It Here</a>

          <a class="btn btn-secondary btn-lg mt-auto" role="button" href='https://github.com/siteadmin/inferno#installation-and-deployment' style="margin: 0 10px; border-radius: 30px; padding: 10px 30px;"><span
              class="oi oi-data-transfer-download"></span> Download</a>

        </div>

      </div>
    </div>
  </div>

</div>
</div>
</div>


<!--
    <p>

      This public deployment of the Inferno Testing Tool is provided as a reference implementation. Testers are encouraged to
      <a href="https://github.com/siteadmin/inferno">download the project</a> and 
      <a href="https://github.com/siteadmin/inferno/blob/master/README.md">run it locally</a> for testing. 
      
    </p>
    
    <p>
      The reference implementation is available <a href="/inferno/">on this server</a> for those looking to try it out or who cannot run
      the server locally. This server provides <b>no authentication</b> and <b>no protection</b> of any data used during the tests, 
      including but not limited to client secrets and access tokens. It is not recommended to point this reference implementation against 
      a production instance for these reasons.
    </p>
  -->
</div>
</div>
