<div class="container">
  <div class="main">
    <p>

      This public deployment of the Inferno Testing Tool is provided as a reference implementation. Testers are encouraged to
      <a href="https://github.com/siteadmin/inferno">download the project</a> and 
      <a href="https://github.com/siteadmin/inferno/blob/master/README.md">run it locally</a> for testing. 
      
    </p>
    
    <p>
      The reference implementation is available <a href="/inferno/">on this server</a> for those looking to try it out or who cannot run
      the server locally. This server provides <b>no authentication</b> and <b>no protection</b> of any data used during the tests, 
      including but not limited to client secrets and access tokens. It is not recommended to point this reference implementation against 
      a production instance for these reasons.
    </p>
  </div>
</div>
